# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\newsoft\pycharm_file\TourKProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
